<!-- /snippets/common-static-instagram.liquid -->
<section class="indexInstagramSection">
  <header class="titleComponent">
    <h2 class="heading is-primary nova uppercaseTitle"><span>Instagram</span></h2>
  </header>
  <div id="rap__med__instagram"></div>
  <script async="" src="https://theraptormedia.com/instagram/embed.js" data-id="wabaracafe.myshopify.com" defer></script>
</section>
