<!-- /snippets/common-static-farm.liquid -->
<section class="indexFarmSection">
  <header class="titleComponent">
    <h2 class="heading is-primary nova uppercaseTitle with-line"><span>Farm</span></h2>
    <p>琵琶湖畔の農園では、現在事前ご予約商品の受け渡しのみ行っています</p>
  </header>
  <div class="googleMap">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d225318.91092260255!2d136.00618040388912!3d35.11157697587848!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600175fa452838c7%3A0x92e82c75a8f302f8!2z44Ot44O844K644OV44Kh44O844OgS0VJSkk!5e0!3m2!1sja!2sjp!4v1605174402352!5m2!1sja!2sjp" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen aria-hidden="false" tabindex="0"></iframe>
  </div>
  <ul class="farmAddress">
    <li>滋賀県守山市杉江町1465</li>
  </ul>
</section>
