<!-- /templates/customers/reset_password.liquid -->
<div class="accountPage centeringForm">
  {% form 'reset_customer_password' %}

    <div class="formComponent">
      <h1 class="accountHeading">パスワードの再設定</h1>
      {%- if form.errors -%}
        <div class="form-message form-message--error">
          {{ form.errors | default_errors }}
        </div>
      {%- endif -%}

      <div class="primaryLine">
        <input type="password" value="" name="customer[password]" id="ResetPassword" class="{% if form.errors contains 'password' %} input--error{% endif %}" placeholder="{{ 'customer.reset_password.password' | t }}">
      </div>

      <div class="primaryLine">
        <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="{% if form.errors contains 'password_confirmation' %} input--error{% endif %}" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
      </div>

      <div class="submitBtn">
        <input type="submit" class="btn is-dark" value="{{ 'customer.reset_password.submit' | t }}">
      </div>

    {% endform %}
    </div>

</div>
