<!-- /sections/index-about.liquid -->
<section class="indexAboutSection">

  <div class="aboutTextWrap">
    <h2 class="heading">風にたなびく野に咲く花のように、<br>｢いのちを感じる｣ ばらを育てる。</h2>
    <p>蕾、開き始め、満開、そして終わり。<br>花が花であるということは、<br class="visible-phone">自然な営みがあるということ。</p>
    <p>山や森に入った時に感じる、心地よさ。<br class="visible-phone">自然体に戻る感覚。</p>
    <p>和ばらの目指す姿は、<br class="visible-phone">そんな自然たちの違和感のなさ。</p>
    <p>与えられた場所で、ただひたすらに<br>太陽に向かう意思が見せる、ひと枝ごとの佇まい。</p>
    <p>静かに、しかし確かに感じる存在。<br class="visible-phone">手から伝わる確かな息吹。</p>
    <p>柔らかな花の時間を感じ、<br>あるべき心の位置に戻れるような、<br>そんなばらを目指しています。</p>

    <p class="nova">ばら作家、國枝 啓司</p>
    <a href="/pages/about" class="borderLink">詳しく見る</a>
  </div>

  <div class="aboutImgWrap">
    <div class="hidden-phone">
      <img src="{{ 'top_about_photo_pc.jpg' | asset_img_url }}" data-src="{{ 'top_about_photo_pc.jpg' | asset_img_url: 'master' }}" data-widths="[930, 1860, 2790]" alt="" width="930" height="" class="lazyload">
    </div>
    <div class="visible-phone">
      <img src="{{ 'top_about_photo_sp.jpg' | asset_img_url }}" data-src="{{ 'top_about_photo_sp.jpg' | asset_img_url: 'master' }}" data-widths="[290, 580, 870]" alt="" width="290" height="" class="lazyload">
    </div>
  </div>

</section>
