<!-- sections/product-cosmetics-content.liquid -->
<div class="detailCommonContent">
  {% render 'cosmetics-products-lineup' %}

  <div class="aboutWabara">
      <a href="/pages/about" class="aboutWabara__link">WHAT IS WABARA?<span>わばらをはじめて知る方へ</span></a>
  </div>
</div>