@charset "UTF-8";
.cartPage {
  width: auto;
  margin: 0 auto;
}
.cartPage .titleComponent {
  margin-bottom: 70px;
}
.cartPage .cartForm {
  letter-spacing: 0;
}
.cartPage .cartForm .cartTable {
  width: 100%;
  font-size: 16px;
}
.cartPage .cartForm .cartTable thead {
  border-bottom: 1px solid #707070;
}
.cartPage .cartForm .cartTable thead th {
  padding-bottom: 12px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 1;
  font-size: 14px;
}
.cartPage .cartForm .cartTable thead th:not(:first-child) {
  text-align: right;
}
.cartPage .cartForm .cartTable thead th.price {
  padding-right: 50px;
}
.cartPage .cartForm .cartTable thead th.num {
  padding-right: 40px;
  text-align: center;
}
.cartPage .cartForm .cartTable tbody td {
  padding: 20px 0;
  border-bottom: 1px solid #707070;
}
.cartPage .cartForm .cartTable .productImg {
  width: 100px;
}
.cartPage .cartForm .cartTable .productImg a {
  width: 100px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.cartPage .cartForm .cartTable .productImg a img {
  width: 100px;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  object-fit: cover;
  display: block;
}
.cartPage .cartForm .cartTable .productTitle {
  line-height: 1.6;
  padding-left: 24px;
  padding-right: 30px;
}
.cartPage .cartForm .cartTable .productTitle .productVariantTitle {
  margin-bottom: 0;
}
.cartPage .cartForm .cartTable .productTitle .productVariantTitle, .cartPage .cartForm .cartTable .productTitle .productPropertiesWrap {
  font-size: 14px;
  margin-top: 20px;
}
.cartPage .cartForm .cartTable .productTitle .productVariantTitle li, .cartPage .cartForm .cartTable .productTitle .productPropertiesWrap li {
  line-height: 1.6;
}
.cartPage .cartForm .cartTable .productPrice {
  width: 140px;
  padding-right: 50px;
  box-sizing: border-box;
  text-align: right;
}
.cartPage .cartForm .cartTable .productQuantity {
  width: 120px;
  padding-right: 40px;
  box-sizing: border-box;
  text-align: center;
}
.cartPage .cartForm .cartTable .productTotal {
  width: 85px;
  text-align: right;
}
.cartPage .cartForm .cartTable .productDelete {
  text-align: right;
  padding-left: 90px;
}
.cartPage .cartForm .cartTable .productDelete a {
  font-size: 14px;
  color: rgba(51, 51, 51, 0.5);
  white-space: nowrap;
}
.cartPage .cartForm .cartTable .productDelete a span {
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.5);
}
.cartPage .cartFooter {
  margin: 45px 0 120px 90px;
}
.cartPage .orderAnnounce {
  background: #F8F8F8;
  padding: 20px;
  margin-bottom: 50px;
}
.cartPage .orderAnnounce.for-policy {
  background: #FDD449;
  margin-bottom: 18px;
  font-weight: bold;
  line-height: 1.6;
}
.cartPage .orderAnnounce.for-policy .announceHeading {
  text-decoration: underline;
  margin-bottom: 5px;
}
.cartPage .orderAnnounce.for-policy + hr {
  margin-bottom: 18px;
  border: none;
  border-bottom: 1px solid #707070;
}
.cartPage .orderAnnounce ul li {
  position: relative;
  line-height: 1.6;
  color: #D80000;
  font-weight: bold;
}
.cartPage .orderAnnounce ul li:not(:last-child) {
  margin-bottom: 15px;
}
.cartPage .orderOtherInfo {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
.cartPage .orderOtherInfo .orderDate {
  width: 340px;
}
.cartPage .orderOtherInfo .productInfo {
  width: 646px;
}
.cartPage #orderDate.identixweb-order-delivery {
  text-align: left;
  padding-top: 0;
  font-family: proxima-nova, "游ゴシック", YuGothic, Helvetica, ArialMT, Roboto, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif !important;
}
.cartPage #orderDate.identixweb-order-delivery .ui-widget {
  font-family: proxima-nova, "游ゴシック", YuGothic, Helvetica, ArialMT, Roboto, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", sans-serif !important;
}
.cartPage #orderDate.identixweb-order-delivery .uiHeading {
  font-size: 14px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 8px;
}
.cartPage #orderDate.identixweb-order-delivery .ui-datepicker {
  width: 100%;
  padding: 25px 25px 15px 20px;
  box-sizing: border-box;
}
.cartPage #orderDate.identixweb-order-delivery .ui-datepicker-title {
  color: #000000 !important;
  font-size: 16px;
  font-weight: normal;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  flex-direction: row-reverse;
}
.cartPage #orderDate.identixweb-order-delivery .ui-datepicker-title .ui-datepicker-year::after {
  content: ".";
}
.cartPage #orderDate.identixweb-order-delivery .ui-datepicker-calendar thead th {
  font-size: 14px;
  font-weight: normal;
}
.cartPage #orderDate.identixweb-order-delivery .ui-datepicker-calendar tbody td {
  width: 40px;
  height: 40px;
  padding: 0;
}
.cartPage #orderDate.identixweb-order-delivery .ui-datepicker-calendar tbody td a, .cartPage #orderDate.identixweb-order-delivery .ui-datepicker-calendar tbody td span {
  width: 40px;
  height: 40px;
  padding: 7px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
}
.cartPage #orderDate.identixweb-order-delivery .ui-widget-header a {
  cursor: pointer;
}
.cartPage #orderDate.identixweb-order-delivery .ui-widget-header .ui-icon {
  background: url("common_icon_arrow.svg") no-repeat center center;
  background-size: 10px auto;
}
.cartPage #orderDate.identixweb-order-delivery .ui-widget-header .ui-datepicker-prev {
  background: transparent !important;
}
.cartPage #orderDate.identixweb-order-delivery .ui-widget-header .ui-datepicker-next {
  background: transparent !important;
}
.cartPage #orderDate.identixweb-order-delivery .ui-state-hover, .cartPage #orderDate.identixweb-order-delivery .ui-widget-content .ui-state-hover, .cartPage #orderDate.identixweb-order-delivery .ui-widget-header .ui-state-hover, .cartPage #orderDate.identixweb-order-delivery .ui-state-focus, .cartPage #orderDate.identixweb-order-delivery .ui-widget-content .ui-state-focus, .cartPage #orderDate.identixweb-order-delivery .ui-widget-header .ui-state-focus {
  border: none !important;
  background: none !important;
}
.cartPage #orderDate.identixweb-order-delivery .identixweb-order-delivery-Time {
  max-width: inherit;
  position: relative;
}
.cartPage #orderDate.identixweb-order-delivery .identixweb-order-delivery-Time::after {
  position: absolute;
  content: "";
  display: block;
  width: 10px;
  height: 5px;
  display: block;
  content: "";
  background: url("common_icon_arrow.svg") no-repeat center center;
  background-size: contain;
  top: 22px;
  right: 11px;
  z-index: 2;
  position: absolute;
}
.cartPage #orderDate.identixweb-order-delivery .identixweb-order-delivery-Time ul li:first-child, .cartPage #orderDate.identixweb-order-delivery .identixweb-order-delivery-Time ul li:last-child {
  border-bottom: none !important;
  border-radius: 0 !important;
}
.cartPage #orderDate.identixweb-order-delivery .identixweb-order-delivery-Time ul li:nth-child(2) {
  border-top: 1px solid #dadada;
}
.cartPage #orderDate.identixweb-order-delivery select.deliveryTime {
  width: 100%;
  font-size: 14px;
  height: 50px;
  padding: 10px 20px;
  box-sizing: border-box;
}
.cartPage #orderDate.identixweb-order-delivery select.deliveryTime::before {
  display: none;
}
.cartPage #orderDate.identixweb-order-delivery .order-clock-button-click {
  box-sizing: border-box;
}
.cartPage #orderDate.identixweb-order-delivery .note_div {
  max-width: inherit;
  margin: 0;
}
.cartPage #orderDate.identixweb-order-delivery .identixweb-order-delivery-deliveryNote {
  font-size: 13px;
  color: #333333;
  text-align: left;
  margin-top: 0;
}
.cartPage #orderDate.identixweb-order-delivery .ui-state-disabled,
.cartPage #orderDate.identixweb-order-delivery .ui-widget-content .ui-state-disabled,
.cartPage #orderDate.identixweb-order-delivery .ui-widget-header .ui-state-disabled {
  opacity: 0.2;
}
.cartPage #orderDate.identixweb-order-delivery .ui-state-default:not(.ui-state-active),
.cartPage #orderDate.identixweb-order-delivery .ui-widget-content .ui-state-default:not(.ui-state-active),
.cartPage #orderDate.identixweb-order-delivery .ui-widget-header .ui-state-default:not(.ui-state-active) {
  background: none !important;
  border: none !important;
  text-align: center;
}
.cartPage #orderDate.identixweb-order-delivery .ui-state-active,
.cartPage #orderDate.identixweb-order-delivery .ui-widget-content .ui-state-active,
.cartPage #orderDate.identixweb-order-delivery .ui-widget-header .ui-state-active,
.cartPage #orderDate.identixweb-order-delivery a.ui-button:active,
.cartPage #orderDate.identixweb-order-delivery .ui-button:active,
.cartPage #orderDate.identixweb-order-delivery .ui-button.ui-state-active:hover {
  border: none !important;
  border-radius: 50%;
  background: rgba(52, 52, 52, 0.9) !important;
  color: #ffffff !important;
}
.cartPage #orderDate.identixweb-order-delivery .ui-datepicker-today span {
  display: block;
  border: 1px solid #222325 !important;
  border-radius: 50%;
}
.cartPage .cartTextArea {
  margin-bottom: 40px;
}
.cartPage .cartTextArea .labelTxt {
  display: block;
  line-height: 1;
  margin-bottom: 20px;
  font-size: 14px;
  font-weight: bold;
}
.cartPage .cartTextArea textarea {
  display: block;
  width: 100%;
  height: 225px;
  font-size: 15px;
  padding: 15px;
  box-sizing: border-box;
}
.cartPage .cartTextArea textarea::placeholder {
  color: #8a8a8a !important;
  font-family: "游ゴシック", YuGothic, Helvetica, ArialMT, Roboto, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
.cartPage .cartTextArea textarea::-webkit-input-placeholder {
  color: #8a8a8a !important;
  font-family: "游ゴシック", YuGothic, Helvetica, ArialMT, Roboto, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
.cartPage .cartTextArea textarea:-moz-placeholder {
  color: #8a8a8a !important;
  font-family: "游ゴシック", YuGothic, Helvetica, ArialMT, Roboto, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
.cartPage .cartTextArea textarea:-ms-input-placeholder {
  color: #8a8a8a !important;
  font-family: "游ゴシック", YuGothic, Helvetica, ArialMT, Roboto, "Droid Sans", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
}
.cartPage .productInfo .productSubTotal {
  text-align: right;
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 10px;
  line-height: 1;
}
.cartPage .productInfo .productSubTotal dt {
  margin-right: 20px;
  color: rgba(0, 0, 0, 0.5);
}
.cartPage .productInfo .productSubTotal dd {
  font-size: 22px;
}
.cartPage .productInfo p {
  text-align: right;
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
}
.cartPage .productInfo aside {
  color: rgba(0, 0, 0, 0.5);
  font-size: 13px;
  margin-top: 30px;
}
.cartPage .productInfo aside a {
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}
.cartPage .productCheckout {
  text-align: center;
  margin-top: 25px;
}
.cartPage .productCheckout .btn {
  width: 100%;
  height: 75px;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}
.cartPage .productCheckout a {
  font-size: 13px;
  color: rgba(51, 51, 51, 0.5);
}
.cartPage .productCheckout a span {
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(51, 51, 51, 0.3);
}
.cartPage .productCheckout .productCheckoutFlow {
  text-align: left;
  font-weight: bold;
  margin-bottom: 30px;
}
.cartPage .productCheckout .productCheckoutFlow .heading {
  margin-bottom: 10px;
}
.cartPage .productCheckout .productCheckoutFlow .productCheckoutFlowList {
  display: flex;
  flex-wrap: nowrap;
  counter-reset: orderList;
}
.cartPage .productCheckout .productCheckoutFlow .productCheckoutFlowList li {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  counter-increment: orderList;
}
.cartPage .productCheckout .productCheckoutFlow .productCheckoutFlowList li::before {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: nowrap;
  content: counter(orderList);
  font-size: 15px;
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 1px solid #222325;
  margin-right: 10px;
  font-weight: normal;
  line-height: 1;
}
.cartPage .productCheckout .productCheckoutFlow .productCheckoutFlowList li:not(:last-child) {
  margin-right: 25px;
}
.cartPage .cartEmpty {
  text-align: center;
}

@media (max-width: 767px) {
  .cartPage {
    max-width: inherit;
  }
  .cartPage .titleComponent {
    margin-bottom: 40px;
    line-height: 1;
  }
  .cartPage .cartForm .cartTable .toprow {
    display: none;
  }
  .cartPage .cartForm .cartTable .bodyrow {
    display: block;
    position: relative;
    border-bottom: 1px solid #707070;
    min-height: 160px;
  }
  .cartPage .cartForm .cartTable .bodyrow:first-child {
    border-top: 1px solid #707070;
  }
  .cartPage .cartForm .cartTable .bodyrow td {
    padding: 0;
    display: block;
    border-bottom: none;
  }
  .cartPage .cartForm .cartTable .bodyrow .productImg {
    width: inherit;
    position: absolute;
    top: 16px;
    left: 0;
  }
  .cartPage .cartForm .cartTable .bodyrow .productImg a {
    width: 85px;
    height: 127px;
  }
  .cartPage .cartForm .cartTable .bodyrow .productImg img {
    width: 85px;
    height: auto;
  }
  .cartPage .cartForm .cartTable .bodyrow .productTitle {
    width: inherit;
    padding: 18px 0 5px 98px;
    font-size: 13px;
    line-height: 1.3;
  }
  .cartPage .cartForm .cartTable .bodyrow .productTitle .productVariantTitle, .cartPage .cartForm .cartTable .bodyrow .productTitle .productPropertiesWrap {
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 5px;
  }
  .cartPage .cartForm .cartTable .bodyrow .productPrice, .cartPage .cartForm .cartTable .bodyrow .productQuantity, .cartPage .cartForm .cartTable .bodyrow .productTotal {
    font-size: 13px;
    width: inherit;
    padding-right: 0;
    padding-left: 98px;
    line-height: 1.7;
    text-align: left;
  }
  .cartPage .cartForm .cartTable .bodyrow .productPrice::before, .cartPage .cartForm .cartTable .bodyrow .productQuantity::before, .cartPage .cartForm .cartTable .bodyrow .productTotal::before {
    font-size: 13px;
    padding-right: 13px;
    color: rgba(51, 51, 51, 0.5);
  }
  .cartPage .cartForm .cartTable .bodyrow .productPrice::before {
    content: "価格";
  }
  .cartPage .cartForm .cartTable .bodyrow .productQuantity span {
    display: inline-block;
  }
  .cartPage .cartForm .cartTable .bodyrow .productQuantity::before {
    content: "数量";
  }
  .cartPage .cartForm .cartTable .bodyrow .productTotal::before {
    content: "合計";
  }
  .cartPage .cartForm .cartTable .bodyrow .productDelete {
    padding-bottom: 10px;
    text-align: right;
  }
  .cartPage .cartForm .cartTable .bodyrow .productDelete a {
    font-size: 12px;
    position: absolute;
    bottom: 8px;
    right: 0;
  }
  .cartPage .cartFooter {
    display: block;
    margin: 25px 0 55px 0;
  }
  .cartPage .orderAnnounce {
    padding: 20px 13px;
    margin-bottom: 20px;
  }
  .cartPage .orderOtherInfo {
    display: block;
  }
  .cartPage .orderOtherInfo .orderDate {
    width: 100%;
  }
  .cartPage .orderOtherInfo .orderDate .hidden {
    display: none;
  }
  .cartPage .orderOtherInfo .productInfo {
    width: 100%;
  }
  .cartPage .identixweb-order-delivery .ui-datepicker-title {
    font-size: 14px;
  }
  .cartPage .identixweb-order-delivery .ui-datepicker-calendar tbody td a, .cartPage .identixweb-order-delivery .ui-datepicker-calendar tbody td span {
    padding: 4px;
  }
  .cartPage .identixweb-order-delivery select.deliveryTime {
    font-size: 16px;
  }
  .cartPage .cartTextArea {
    width: 100%;
    margin-bottom: 35px;
  }
  .cartPage .cartTextArea .labelTxt {
    margin-bottom: 14px;
    font-size: 13px;
  }
  .cartPage .cartTextArea textarea {
    height: 152px;
    font-size: 16px;
  }
  .cartPage .cartTextArea textarea::placeholder {
    font-size: 13px;
  }
  .cartPage .cartTextArea textarea::-webkit-input-placeholder {
    font-size: 13px;
  }
  .cartPage .cartTextArea textarea:-moz-placeholder {
    font-size: 13px;
  }
  .cartPage .cartTextArea textarea:-ms-input-placeholder {
    font-size: 13px;
  }
  .cartPage .productInfo .productSubTotal {
    margin-bottom: 5px;
  }
  .cartPage .productInfo .productSubTotal dt {
    margin-right: 13px;
  }
  .cartPage .productInfo .productSubTotal dd {
    font-size: 20px;
  }
  .cartPage .productInfo p {
    font-size: 11px;
  }
  .cartPage .productCheckout {
    margin-top: 34px;
  }
  .cartPage .productCheckout .btn {
    width: 100%;
    height: 54px;
    font-size: 15px;
  }
  .cartPage .productCheckout .productCheckoutFlow .productCheckoutFlowList {
    display: block;
  }
  .cartPage .productCheckout .productCheckoutFlow .productCheckoutFlowList li::before {
    font-size: 9px;
    width: 22px;
    height: 22px;
    margin-right: 6px;
  }
  .cartPage .productCheckout .productCheckoutFlow .productCheckoutFlowList li:not(:last-child) {
    margin-right: 0;
    margin-bottom: 5px;
  }
}
