<!-- /templates/list-collections.liquid -->
<div class="contentComponent">
  <section class="onlineShopComponent">
    <header class="titleComponent">
      <h2 class="heading is-primary nova uppercaseTitle with-line"><span>Online shop</span></h2>
      <p>琵琶湖のほとりにある農園から、<br class="visible-phone">心を込めて大切に育てたお花を直接お届けします</p>
    </header>
    {% section 'content-onlineshop-main' %}
    {% section 'content-onlineshop-banner' %}
  </section>
</div>
