<div class="staticPage">
  <div id="bridalContents">
    <section class="">
      <header class="titleComponent">
        <h1 class="heading is-primary nova uppercaseTitle with-line"><span>{{page.title}}</span></h1>
        <div class="staticTextWrap">
          <p>晴れの日を彩るために。<br class="visible-phone">特別に和ばらを育て、華を添えます。</p>
        </div>
      </header>
      <div class="staticMv staticWrapComponent">
        {% section 'bridal-static-mainvisual' %}
      </div>
      <section class="bridalSection staticSection">
        {% section 'bridal-row-block' %}
      </section>
      <section class="bridalServiceSection staticSection withBgColor">
        <h2 class="heading staticSectionHeading nova uppercaseTitle"><span>Bridal Service</span></h2>
        <div class="staticTextWrap is-center">
          <p>ご結婚されるお二人とご家族にとって、最も大切な一日のひとつとなる結婚式の日。</p>
          <p>その晴れの日を彩るために、私たちは特別に和ばらを育て、ブーケをつくります。</p>
          <p>ご両親への花束、お花、和ばらプロダクトの引き出物など。<br>ここでしかできない、特別な和ばらの贈り物も承ります。</p>
        </div>
        {% section 'bridal-column-block' %}
      </section>

    </section>
  </div>

  {% section 'common-static-footer' %}

</div>
