<section class="collectionPage staticPage rosie">
  {% section 'rosie-collection-mainvisual' %}

  <section id="rosieDescription" class="collectionDescription contentComponent">
    <p>朝、目覚めると昨日よりも少し綻んだ蕾。<br>少しづつ色づきはじめた。 <br>それから数日、いつの間にか花がさいて、 楚々とした美しさに、心がときめく。</p>
    <p>満開になったお花は、 少しづつ色を褪色させながらも まだ健気に咲いている。<br>花が終わった後も、 葉っぱは緑で生命の営みは続いていく。<br>茶色くなった花がらにも、愛おしさを感じる。</p>
    <p>ペットのように、 家族の一員となって欲しいと願いを込めて。</p>
    <p>日々の発見、毎日のときめき。<br>おへやで育てるばら。</p>
    <a href="#rosieStory" class="nova heading uppercaseTitle ankerLink">Story<span class="dropdownArrow">{% render 'icon' with 'arrow' %}</span></a>
  </section>

  <section id="rosieLineup" class="staticSection withBgColor">

    {% section 'rosie-collection-block' %}

  </section>

  <section id="rosieStory" class="rosieSection staticSection">
    {% section 'rosie-column-block' %}
  </section>

  <div class="backtoTopComponent">
    <a href="#rosieLineup" class="heading ankerLink">商品一覧へ戻る<span class="dropdownArrow">{% render 'icon' with 'arrow' %}</span></a>
  </div>

</section>

<div class="contentComponent">
  {% render 'content-banner' %}
</div>
