<div class="staticPage collectionPage">
  <div id="cutrosesContents">
    <section class="">
      {% section 'cutrose-collection-mainvisual' %}

      <section class="">
        <header class="titleComponent">
          <h2 class="heading is-secondary nova uppercaseTitle with-line"><span>日ごとに変わる、お花の表情</span></h2>
          <div class="staticTextWrap is-center">
            <p>刻一刻とうつろう花の表情。香りが変わり、色が変わる。<br>農園より最高鮮度でばらをお届けいたします。<br>蕾から満開、そして散りゆくまで。<br>花と暮らす時間をより濃厚なものに。</p>
            {% comment %}
            <p class="announceBorderLink">母の日期間（5/1〜5/11）のお届け分は、<a class="" href="/pages/mothersday">こちらのリンク先の特集ページ</a>からお選びください。</p>
            {% endcomment %}
          </div>
        </header>
        <section class="staticSection">
          {% section 'cutrose-collection-block' %}
        </section>

      </section>

    </section>
  </div>

  {% section 'common-static-footer' %}

</div>
