<div class="staticPage collectionPage">
  <div id="edibleContents">
    <section class="">
      {% section 'edibleroses-collection-mainvisual' %}

      <section class="edibleSection staticSection">
        <h1 class="heading staticSectionHeading nova uppercaseTitle"><span>根源的で普遍的なばらの力を<br class="visible-phone">最高の純度で体に摂り入れる</span></h1>
        <div class="staticTextWrap is-center">
          <p>昔から世界中で食され、使用されてきた、ばら、ローズウォーター、乾燥ばら。</p>
          <p>それらを現代の技術と独自のばら「和ばら」を使って、今までにないものを作りたいと考え、生み出したプロダクト。</p>
          <p>ばらそのものの、「根源性」、「普遍性」、「純度」を大切に、<br>時に印象の強すぎるばらを、柔らかく、マイルドに仕立て、<br>これなら毎日でも食べたい、使いたいと思っていただけるものに仕上げました。</p>
          <p>日々の暮らしに寄り添う、「和ばら」の哲学で生み出した商品です。</p>
          <a href="#edibleStory" class="nova heading uppercaseTitle ankerLink">Story<span class="dropdownArrow">{% render 'icon' with 'arrow' %}</span></a>
        </div>
      </section>

      <section id="edibleLineup" class="staticSection withBgColor">
        {% section 'edibleroses-collection-block' %}
      </section>

      <section id="edibleStory" class="edibleSection staticSection">
        <header class="titleComponent">
          <h2 class="heading staticSectionHeading nova uppercaseTitle with-line"><span>HOW TO MAKE <br class="visible-phone">"EDIBLE ROSES"</span></h2>
          <div class="staticTextWrap">
            <p>生み出し、育て、抽出する</p>
          </div>
        </header>
        {% section 'edibleroses-column-block' %}
      </section>

      <div class="backtoTopComponent">
        <a href="#edibleLineup" class="heading ankerLink">商品一覧へ戻る<span class="dropdownArrow">{% render 'icon' with 'arrow' %}</span></a>
      </div>

    </section>
  </div>

  {% section 'common-static-footer' %}

</div>
