<div class="staticPage collectionPage">
  <div id="limitedContents">
    <section class="">
      <header class="titleComponent">
        <h1 class="heading is-primary nova uppercaseTitle with-line"><span>限定商品・企画商品</span></h1>
        <div class="staticTextWrap is-center">
          <p>毎日同じように見えても、季節は流れ、時はうつろう。<br>この時だけの限定商品や、ご縁をいただいたことで実現した企画商品。</p>
        </div>
        <div class="staticWrapComponent">
          {% section 'limited-tabs-banner' %}
          <div class="staticTextWrap is-center">
            <p>5/1-5/11のご指定は、お届けできる商品に限りがございます。 <br class="hidden-phone">特別な商品をお作りするわけではないのですが、 <br class="hidden-phone">新鮮なお花を皆さまにスムーズにお届けするために現段階での収穫量を見込んで、 <br class="hidden-phone">商品数を限定しその上で各商品のお届けを上限を設けています。</p>
            <p>農園で毎日育つお花たち。 無理矢理お日にちを合わせたりすることはありません。 <br class="hidden-phone">なので数には限りがあります。前もってお花を届けるための準備はしますが、お花の準備は発送する当日です。 <br class="hidden-phone">私たちが当たり前に、大切にずっとずっと守っていることです。   どれもシンプルなお包みでお届けしています。  <br class="hidden-phone">いつもと変わらず、ご自宅用も贈り物も同様の仕様にてお届けしております。   <br class="hidden-phone">農園からはいつもと変わらず、収穫したばかりの新鮮なお花を ただただ丁寧に梱包し、お届けをしたいと思っています。 <br class="hidden-phone">   ご希望のお日にちのある方は、お早めにお申し込みをお願いいたします。</p>
          </div>
        </div>
      </header>
      <section class="staticSection withBgColor">
        {% section 'mothersday-collection-block' %}
      </section>
    </section>

  </div>

  {% section 'common-static-footer' %}

</div>
