<div class="staticPage collectionPage">
  <div id="deliverContents">
    <section class="">
      <header class="titleComponent">
        <h1 class="heading is-primary nova uppercaseTitle with-line"><span>WABARA SKIN CARE PRODUCT</span></h1>
        <div class="staticTextWrap nova">
            <p>DEBUT 2022.1.20</p>
        </div>
      </header>

      <div class="staticMv staticWrapComponent galleryPage">
        <div class="mainvisualVideoContent">
          <iframe src="https://player.vimeo.com/video/644607564?h=5e30f9f2fd&amp;title=0&amp;byline=0&amp;portrait=0&amp;speed=0&amp;badge=0&amp;autopause=0&amp;player_id=0&amp;app_id=58479" width="1600" height="900" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen title="wabara_skincare.mov.mp4"></iframe>
        </div>
      </div>

      <section class="staticSection charlotteSection">
        <div class="staticTextWrap is-center">
          <p>構想から早7年、品種選択、栽培、抽出、加工方法に至るまで、ばらの力を引き出すことに注力し、<br class="hidden-phone">研究開発を続けてきたWABARAのスキンケア商品が遂に完成しました。</p>
          <p>主原料は、ばら。</p>
          <p>他に類を見ない、WABARAらしいスキンケア商品を生み出すことができました。<br class="hidden-phone">目的に合わせた3つのプロダクトが1月20日にデビューします。</p>
        </div>
      </section>

    </section>
  </div>

  {% section 'common-static-footer' %}

</div>



