<!-- /templates/page.faq.liquid -->

<div class="staticPage faqPage">
  <section class="contentSubComponent faqSection">
    <header class="titleComponent">
      <h1 class="heading is-primary nova uppercaseTitle with-line"><span>FAQ</span></h1>
      <p>よくある質問</p>
    </header>
    {% section 'faq-contents' %}
  </section>
  <section class="contentSubComponent contactSection">
    <header class="titleComponent">
      <h2 class="heading is-primary nova uppercaseTitle with-line"><span>Contact</span></h2>
      <p>お問い合わせ</p>
    </header>
    {% section 'contact-nav-contents' %}
  </section>
</div>
