<div class="staticPage collectionPage">
  <div id="charlotteContents">
    <section class="">
      <header class="titleComponent">
        <h1 class="heading is-primary nova uppercaseTitle with-line"><span>{{page.title}}</span></h1>
        <div class="staticTextWrap is-center">
          <p>稀代の女性アーティストに捧げる、<br>ばら作家、國枝啓司の現在までの最高傑作の「WABARA」。</p>
          <a href="#charlotteStory" class="nova heading uppercaseTitle ankerLink">Story<span class="dropdownArrow">{% render 'icon' with 'arrow' %}</span></a>
        </div>
      </header>
      <div class="staticMv staticWrapComponent">
        {% section 'charlotte-static-mainvisual' %}
      </div>
      <section id="charlotteLineup" class="charlotteSection staticSection withBgColor">
        {% section 'charlotte-collection-block' %}
      </section>

      <section id="charlotteStory" class="charlotteSection staticSection">
        <h2 class="heading staticSectionHeading nova uppercaseTitle"><span>STORY OF ROSE CHARLOTTE PERRIAND</span></h2>
        <div class="staticTextWrap is-center">
          <p>時代を超えて、２人のアーティストの日仏の関係から生まれたばら</p>
        </div>
        {% section 'charlotte-column-block' %}
        <div class="staticWrapComponent">
          <hr>
          <p>國枝啓司が建築家でありデザイナーとして活躍したシャルロット・ペリアンに捧げるばらとしてつ くりあげた新しい品種で、シャルロット・ペリアン・アーカイヴからも公認をいただいたものです。</p>
          <p>國枝啓司は、フランスでバラの育種を学び、「世界中の花屋さんに並ぶバラを作る」という夢を抱き、日本で１９８１年から育種を始めました。</p>
          <p>2007年よりスタートした「和ばら」という國枝啓司の独自の世界観を表現は、１２年の歳月をかけ、現在６０品種を超えるまでになり、海外での生産・販売パートナーにも出会うことができ、国内外で「WABARA」として流通するようになりました。</p>
          <p>フランスで育種を学んでから約４０年の時を超え、少しずつ積み重ねた独自の世界観と品種の系譜「和ばら」。</p>
          <p>現時点で最高傑作と國枝啓司が自負するこの品種を、再びフランスの地でシャルロットペリアン女史という偉大な人物とその足跡を象徴するバラとして、また日仏の交流、架け橋の象徴する花とすることができました。</p>
          <p>國枝啓司自身が目指してきたバラを表現してくれている品種「ROSE CHARLOTTE PERRIAND」。</p>
          <p>色、花姿、花弁の形や枚数と、今までのバラの世界にない新たなバラの姿であるものと確信しています。</p>
          <p>2020年、このCharlotte PerriandさんとRose Charlotte Perriandのエピソードを基に、Aesop社より香水<a href="https://www.aesop.com/jp/c/fragrance/rozu" target="_blank">「Rōzu」</a>が作出されました。</p>
          <p>--國枝啓司コメント--</p>
          <p>たくさんの方に愛されたペリアン女史のように、たくさんの方に様々なシーンで愛されるバラとなっていってもらえればと願っております。</p>
          <p>そしてまた、確固たる信念のもとチャレンジされてきたペリアン女史のように、私もバラの歴史に残る作品を生み出せるよう、精進していきたいと思います。</p>
          <p>* 2019年9月29日、シャルロット・ペリアンの没後20年にあたり、Fondation Louis Vuitton（ルイヴィトン美術館）で開催れている大回顧展のオープニングパーティーで展示、配布されました。</p>
        </div>
      </section>

      <div class="backtoTopComponent">
        <a href="#charlotteLineup" class="heading ankerLink">商品一覧へ戻る<span class="dropdownArrow">{% render 'icon' with 'arrow' %}</span></a>
      </div>

    </section>
  </div>

  {% section 'common-static-footer' %}

</div>
