<div class="staticPage">
  <div id="fragranceContents">
    <section class="">
      <header class="titleComponent">
        <h1 class="heading is-primary nova uppercaseTitle with-line"><span>{{page.title}}</span></h1>
      </header>
      <div class="staticTextWrap is-center">
        <p>植物の力と香りを留めたいという思いから、発展してきた蒸留技術。<br>それを現代の技術で純度を高めた、100%ばらの生体内の水分のみを抽出した「ばらの生体水」。</p>
        <p>それを贅沢に使い、和ばららしい香りのプロダクトをつくりました。</p>
        <p>毎日の生活に、和ばらがよりそうことのできる新しい形です。</p>
        <p class="announceBorderLink">母の日期間（5/1〜5/11）のお届け分は、<a class="" href="/pages/mothersday">こちらのリンク先の特集ページ</a>からお選びください。</p>
      </div>
      <div class="staticMv staticWrapComponent">
        {% section 'fragrance-static-mainvisual' %}
      </div>
      <section class="fragranceSection staticSection withBgColor">
        <h2 class="heading staticSectionHeading nova uppercaseTitle"><span>WABARA REFRESH MIST</span></h2>
        <div class="staticTextWrap is-center mb0">
          <p>WABARA ×YORK.</p>
          <p>WABARAの香りと共に過ごす。<br>WABARAの品種がもつ個性をイメージして、生体水とエッセンシャルオイルだけのブレンドで作ったリフレッシュミスト。</p>
          <p>ルームスプレーとしてもお使いいただけます。</p>
        </div>
        <div class="inherit">
          {% section 'fragrance-collection-block' %}
        </div>
      </section>
    </section>

  </div>

  {% section 'common-static-footer' %}

</div>
